.subChartFilterContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .subChartFilterSelector {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .subChartFilterLabelContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: -4px;

    .subChartFilterLabel {
      text-align: left;
    }
  }
}