@import "../../variables";

.App {
  display: flex;
  flex-direction: column;
  padding: 1em;

  .mainContainer {
    text-align: center;
    display: flex;
    flex-direction: row;
    height: 89vh;

    .filterArea {
      display: flex;
      flex-direction: column;
      background-color: #f4f9ff;
      margin-right: 1em;
      width: 36vw;
      box-shadow: 2px 2px 12px 1px rgb(0 0 0 / 20%);
      border: #356091 1px solid;
      border-radius: 4px;

      .headerTitle {
        display: flex;
        gap: 1em;
        padding: 1.5em 1.5em 1em 1.5em;

        .headerTitleLabel {
          font-family: 'Neo Sans Pro Regular', sans-serif;
          text-transform: uppercase;
        }
      }

      .selectorContainer {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex-direction: column;
        gap: 1.5em;
        padding: 1.5em;

        .dynamicSelect {
          display: flex;
          flex-direction: row;
        }
      }
    }

    .chartArea {
      display: flex;
      flex-direction: column;
      width: 100%;

      .buttonContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1em 1em 1em;

        .buttonGrLeft {
          display: flex;
          gap: 2em;
        }

        .buttonGrRight {
          display: flex;
          align-items: center;
          gap: 2em;
          // Same height as export and download buttons
          .chartToggle {
            height: 38px;

            .MuiToggleButton-root.Mui-selected {
              background-color: #35609136;
            }
          }
        }
      }

      .chartWrapper {
        height: 100%;
        padding: 2.5vh 4vh 2.5vh 2.5vh;
        box-shadow: 2px 2px 12px 1px rgb(0 0 0 / 20%);
        border-radius: 4px;

        &.disabled {
          opacity: 32%;

          .barChart, .lineChart {
            margin-top: -60px;
            opacity: 40%;
          }
        }

        .disabledOverlayText {
          position: relative;
          top: 24%;
          font-size: 3em;
          font-family: 'Neo Sans Pro Medium', 'Arial', sans-serif;
          color: gray;
          opacity: 50%;
        }
      }
    }
  }

  .legalText {
    font-size: 0.6rem;
    line-height: 0.4rem;

    .showMoreBtn {
      font-size: 0.6rem;
      background: none;
      border: none;
      padding: 0;
      color: #069;
      text-decoration: underline;
      cursor: pointer;
      margin-left: 0.4rem;
    }
  }
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .selectorContainer {
    flex-direction: column;
    align-items: stretch;
  }
  .chartToggle {
    align-self: center;
  }
}