$color-primary-lighter : #afbfd3;
$color-primary-light : #afbfd3;
$color-primary : #356091;
$color-primary-dark : #202a63;
$color-primary-darker : #000647;

$color-secondary-lightest : #ebebeb;
$color-secondary-lighter : #cccccc;
$color-secondary-light : #6c6c6c;
$color-secondary : #212121;
$color-secondary-dark : #101010;

$color-error: #c1262d;

//Chart colors
$color-chart-1 : #1454a3;
$color-chart-2 : #486fb5;
$color-chart-3 : #607dbd;
$color-chart-4 : #8c9ed0;
$color-chart-5 : #bbc5e4;

// Colors from Jonas
$color-blue-1 : #a5b4dd;
$color-blue-2 : #0057a5;
$color-blue-3 : #356091;
$color-black : #000000;
$color-white-1 : #f5f7f9;
$color-white-2 : #f4f6fc;
$color-grey-1 : #818994;
$color-grey-2 : #afbfd3;