body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Neo Sans Pro Light';
  src: local('Neo Sans Pro Light'), url('./fonts/Neo_Sans/NeoSansPro-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Neo Sans Pro LightItalic';
  src: local('Neo Sans Pro LightItalic'), url('./fonts/Neo_Sans/NeoSansPro-LightItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Neo Sans Pro Regular';
  src: local('Neo Sans Pro Regular'), url('./fonts/Neo_Sans/NeoSansPro-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Neo Sans Pro Italic';
  src: local('Neo Sans Pro Italic'), url('./fonts/Neo_Sans/NeoSansPro-Italic.otf') format('opentype');
}

@font-face {
  font-family: 'Neo Sans Pro Medium';
  src: local('Neo Sans Pro Medium'), url('./fonts/Neo_Sans/NeoSansPro-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Neo Sans Pro MediumItalic';
  src: local('Neo Sans Pro MediumItalic'), url('./fonts/Neo_Sans/NeoSansPro-MediumItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Neo Sans Pro Bold';
  src: local('Neo Sans Pro Bold'), url('./fonts/Neo_Sans/NeoSansPro-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Neo Sans Pro BoldItalic';
  src: local('Neo Sans Pro BoldItalic'), url('./fonts/Neo_Sans/NeoSansPro-BoldItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Neo Sans Pro Black';
  src: local('Neo Sans Pro Black'), url('./fonts/Neo_Sans/NeoSansPro-Black.otf') format('opentype');
}

@font-face {
  font-family: 'Neo Sans Pro BlackItalic';
  src: local('Neo Sans Pro BlackItalic'), url('./fonts/Neo_Sans/NeoSansPro-BlackItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Neo Sans Pro Ultra';
  src: local('Neo Sans Pro Ultra'), url('./fonts/Neo_Sans/NeoSansPro-Ultra.otf') format('opentype');
}

@font-face {
  font-family: 'Neo Sans Pro UltraItalic';
  src: local('Neo Sans Pro UltraItalic'), url('./fonts/Neo_Sans/NeoSansPro-UltraItalic.otf') format('opentype');
}
