@import './variables';

// Export variables for external access
:export {
  colorPrimary: $color-primary;
  colorPrimaryLight: $color-primary-light;
  colorPrimaryDarker: $color-primary-darker;
  colorSecondary: $color-secondary;
  colorSecondaryLight: $color-secondary-light;
  colorSecondaryDark: $color-secondary-dark;
  colorError: $color-error;

  colorChart1: $color-chart-1;
  colorChart2: $color-chart-2;
  colorChart3: $color-chart-3;
  colorChart4: $color-chart-4;
  colorChart5: $color-chart-5;
}
