// Stylesheet with styles only applicable for the ESC app.
// Most of the components in the ESC app are reused from the base App, thus the styles as well

.chartHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 16px;
  text-align: center;

  .mainTitle {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 11pt;
  }

  .subTitle {
    font-family: 'Arial', sans-serif;
    font-size: 9pt;
  }
}

