.dialogContentContainer {
  display: flex;

  .settingsElement {
    margin: 8px 20px;

    & .MuiCheckbox-root {
      margin-left: -9px;
    }
  }

  .previewTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;

    .previewTitle {
      text-align: center;
      color: #0000008A;
      font-size: small;
      flex: 1;
      text-transform: uppercase;
    }

    hr {
      height: 1px;
      align-self: center;
      flex: 2;
    }
  }

  .settingsTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;

    .settingsTitle {
      font-family: Neo Sans Pro Regular, Arial, sans-serif;
      text-transform: uppercase;
    }
  }

  .previewContainer {
    display: flex;
    flex-direction: column;
    width: 720px;

    .chartTitle {
      text-align: center;
      font-family: 'Arial', sans-serif;
      font-weight: bold;
    }

    .chartSubTitle {
      text-align: center;
      font-family: 'Arial', sans-serif;
      font-size: 11pt;
    }

    .sourceLabel {
      text-align: right;
      font-size: 0.75rem;
      font-family: 'Arial', sans-serif;
      margin-right: 16px;
    }

    .contentToPrint {
      // Have the ratio of 10.5cm/18cm = 0.583
      width: 720px;
      height: 420px;
      align-self: center;

      &.halfPage {
        width: 350px;
      }
    }

    .chartArea {
      height: 88%;

      .chartHeader {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 16px;
        text-align: center;

        .mainTitle {
          font-family: 'Arial', sans-serif;
          font-weight: bold;
          font-size: 11pt;
        }

        .subTitle {
          font-family: 'Arial', sans-serif;
          font-size: 9pt;
        }
      }
    }
  }

  .settingsContainer {
    display: flex;
    flex-direction: column;
    width: 260px;

    .pdfHelperText {
      margin: 0 20px;
    }
  }

}