.settingsPopover {
  .MuiPopover-paper {
    padding: 8px 0;
  }
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 16px;

  .popoverTitle {
    &.MuiTypography-overline {
      font-size: 0.90rem;
      font-family: Neo Sans Pro Regular, Arial, sans-serif;
    }
  }
}

.listRoot {
  width: 340px;
  max-width: 480px;

  .MuiListItemIcon-root {
    min-width: 32px;
  }

  .MuiListSubheader-root {
    line-height: 28px;
  }

  .pctInput, .toYearInput, .fromYearInput {
    width: 84px;
  }

  .toYearInput {
    margin-left: 8px;
  }

  .yearRangeElement {
    margin-top: 8px;
  }
}

.settingIcon {
  width: 38px;
  height: 38px;
}