// TODO: create common style for line and bar chart, because this is needed for both
.barChart {
  height: 80%;

  // The responsive bar chart takes up all the space by default in it's container (width: 100%, height: 100%)
  // So that pushed out the custom legend from the container
  // Forcing the chart's height to be 92% only, solved the problem
  & > div:first-child {
    height: 94% !important;
  }
}