.legendContainer {
  display: grid;
  grid-gap: 8px;
  gap: 8px;
  justify-content: center;
  margin: 0 12px 0 48px;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

.legendElement {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  gap: 4px
}