.legendContainerEsc {
  display: grid;
  grid-gap: 8px;
  gap: 8px;
  justify-content: center;
  margin: 0 40px 0 64px;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

.legendElementEsc {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  gap: 4px;
}